<mat-card class="view-status-card mat-elevation-z8">
    <!--<img matCardImage src="Card wide image source">-->
  <form class="view-status-form" [formGroup]="viewStatusForm" (ngSubmit)="viewStatus($event)">
      <mat-card-content class="form-body">
          <mat-form-field class="full-width">
            <mat-label>Request ID *</mat-label>
            <input matInput type="text" [formControl]="viewStatusForm.controls['requestId']" placeholder="Request ID">
            <mat-error *ngIf="viewStatusForm.controls['requestId'].hasError('required')">
              Request ID is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="viewStatusForm.controls['requestId'].hasError('pattern')">
              Request ID should be <strong>a number</strong>
            </mat-error>
          </mat-form-field>
          <div class="full-width request-status" [ngClass]="{
            'approved':approved===0,
            'rejected':approved===1,
            'pending':approved===2
          }" *ngIf="requestStatus!=undefined">
            <p>You request is {{requestStatus}}</p>
          </div>
      </mat-card-content>
      <mat-card-actions align="start">
        <button type="submit" mat-raised-button color="primary" class="submit-button full-width">View Request Status</button>
      </mat-card-actions>
  </form>
</mat-card>
