<div class="container" fxLayout="column" fxLayoutAlign="center center" fxFlex="100%" fxLayoutGap="1%">
  <mat-form-field class="table-filter">
    <input matInput (keyup)="applyFilter($event)" placeholder="Search Asset ID">
  </mat-form-field>
  <table mat-table [dataSource]="assetDataSource">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox color="primary"
          (click) = "$event.stopPropagation()"
          (change) = "$event ? selectedAsset.toggle(row):null"
          [checked]="selectedAsset.isSelected(row)"
        ></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="assetId">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let asset">{{asset.assetId}}</td>
    </ng-container>

    <ng-container matColumnDef="assetName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let asset">{{asset.assetName}}</td>
    </ng-container>

    <ng-container matColumnDef="assetDescription">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let asset">{{asset.assetDescription}}</td>
    </ng-container>

    <ng-container matColumnDef="availability">
      <th mat-header-cell *matHeaderCellDef> Availability </th>
      <td mat-cell *matCellDef="let asset">{{asset.availability}}</td>
    </ng-container>

    <ng-container matColumnDef="assetCategory">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let asset">{{asset.assetCategory}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnHeaders"></tr>
    <tr mat-row *matRowDef="let row;columns: columnHeaders;"
    (click)="selectedAsset.toggle(row)"></tr>
  </table>

  <div fxLayoutAlign="center">
    <button mat-raised-button color="primary" (click)="openRequestForm()">Request Selected Asset</button>
    <button mat-button color="warn" *ngIf="noneSelected">No asset Selected!Please select an asset and continue</button>
  </div>
</div>
